.log-in {
    display: flex;
    width: 100%;
    min-height: calc(100% - 0px);
    position: absolute;
    justify-content: center;
    align-items: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: linear-gradient(360deg, #3a4b7f, #ddb0b0);
    background-size: 120% 120%;
    animation: gradient-animation 2s ease infinite;
}

@keyframes gradient-animation {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }

.login {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 450px;
    /* background-color: rgb(242, 237, 241); */
    background-image: linear-gradient(#f2edf1, #ffffff);
    border-radius: 15px 15px;
    height: 350px;
    box-shadow: rgba(2, 2, 2, 0.35) 0 5px 15px;
    margin: 25px;
}

.data-login {
    display: flex;
    flex-direction: column;
    height: 170px;
    justify-content: space-between;
    padding: 30px 25px 25px 25px;
}

.title-login {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.naslov-login {
    font-size: 23px;
    margin-top: 0px;
}

.username {
    margin-bottom: 10px;
}

.user-div {
    display: flex;
    padding: 0;
    margin: 0;
}

.error2 {
    display: flex;
    flex-direction: column;
    padding: 0 25px 25px 25px;
    max-height: 15px;
}

.err {
    margin-bottom: 2px;
    margin-top: 0;
    color: red;
    font-size: 0.9em;
}

.footer2 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 25px 25px 25px;
}

.go-back {
    position: fixed;
    left: 5%;
    top: 10%;
}