body {
  font-family: Arial, sans-serif;
  text-align: center;
  margin: 0;
  padding: 0;
}

#map {
  height: 80vh;
  width: 100%;
}

select {
  text-align: center;
  text-align-last: center;
  width: 100px;
}

.dropdown-group {
  margin-bottom: 10px;
}